body {
    background-color: rgb(200,200,200);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1{
    color: rgb(200,200,200);
}

h2 {
    color: rgb(50,50,50);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
/*    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao 100% viewport height */
    position: relative; /* Cần để các phần tử con có thể dùng position absolute */
}

.left-image {
    max-width: 20%; /* Điều chỉnh kích thước ảnh theo yêu cầu */
    max-height: 250px;  /* Giữ tỷ lệ ảnh */
    width: auto;
    height: auto;
}

.right-text {
    padding: 30px;
    flex: 1; /* Chiếm không gian còn lại */
    position: relative; /* Đặt vị trí tương đối để điều chỉnh top */
    top: -45px;
}
.new-content {
    padding: 20px;
}